---
title: Oops! Not Found
layout: layouts/page
eleventyExcludeFromCollections: true
permalink: 404.html
---

<div class="markdown m-0 mt-44">
    <h2 class="text-3xl font-semibold m-0">Error 404: Page not found!</h2>
    <a href="/">
        <p class="text-xl">Go back to home</p>
    </a>
</div>