---
title: Oops! Page not found
layout: layouts/page
eleventyExcludeFromCollections: true
permalink: 404.html
---

<div class="flex divide-x items-center mt-56">
    <h2 class="p-4 text-3xl font-semibold m-0">404</h2>
    <h3 class="p-4 md:text-lg">
    This page could not be found.
    <a href="/">
        <p class="text-base font-medium text-blue-900">Go to homepage</p>
    </a>
    </h3>
</div>