---
title: Oops! Not Found
layout: layouts/page
eleventyExcludeFromCollections: true
permalink: 404.html
---

div(class="markdown")
    h2(class="text-3xl font-semibold m-0") Error 404: Page not found!
    a(href="/" class="flex items-center")
        p(class="text-xl my-4") Go back to home
        include /icons/link-arrow.svg
    p Here's a cat video to make up for it :)
    img(src=`https://cataas.com/cat/fail?${Date.now()}` class="w-full py-8")
include /footer
