---
title: Page not found!
layout: layouts/page
eleventyExcludeFromCollections: true
---

div(class="mt-56 flex divide-x items-center")
    h2(class="text-3xl p-4 font-serif font-semibold") 404
    h3(class="p-4 md:text-lg") This page could not be found.