---
layout: layouts/page
eleventyExcludeFromCollections: true
title: About - Priyanshu Sinha
---

div(class="space-y-6")
    h2(class="text-2xl font-serif font-medium") Who is Priyanshu Sinha?
    img(src="/profile.jpeg" class="h-80 mx-auto rounded-md" alt="Priyanshu Sinha")
    p(class="text-zinc-700") Priyanshu Sinha is an analog engineer from New Delhi, India. He completed his undergrad from Delhi Technological University (Formerly DCE), where he studied Electrical Engineering and Economics