div(class="space-y-2")
    p(class="font-medium text-zinc-600") Favorites
    div(class="grid gap-2.5 grid-cols-2 md:grid-cols-1 font-medium")
        div(class="flex flex-col gap-1.5 rounded-md py-2 px-3 bg-[#f2f5fa] text-[#1e5097]")
            div(class="flex gap-1.5 items-center")
                include /icons/movie.svg
                | Movie / Show
            p(class="font-normal text-zinc-700") Ford v Ferrari
        div(class="flex flex-col gap-1.5 rounded-md py-2 px-3 bg-[#f2f7f1] text-[#116719]")
            div(class="flex gap-1.5 items-center")
                include /icons/music.svg
                | Artist
            p(class="font-normal text-zinc-700") The Weeknd
        div(class="flex flex-col gap-1.5 rounded-md py-2 px-3 bg-amber-50 text-amber-700")
            div(class="flex gap-1.5 items-center")
                include /icons/smile.svg
                | Person
            p(class="font-normal text-zinc-700") Not my sister :)