footer(class="mt-16 border-t border-dashed border-zinc-800 pt-4 flex flex-col gap-4 text-sm")
    div(class="flex justify-between items-center text-zinc-400")
        a(href="https://priyanshusinha.in/") © Priyanshu Sinha
        div(class="flex items-center gap-2 text-[#579dff]")
            a(href="/feed/feed.xml") RSS
            a(href="/sitemap.xml") Sitemap
    button(type="button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="font-sans text-stone-300 bg-stone-950 border border-stone-900 p-4 rounded-lg font-semibold") &nbsp;Back to top &uarr;
