nav(class="flex flex-col shrink-0 md:items-center text-gray-700 dark:text-zinc-200 md:space-x-8 pb-2")
    a(href="/" class="text-3xl text-white font-semibold items-center")
        img(src="/photo.jpg", alt="Priyanshu Sinha", class="rounded-full h-20 w-20 mb-6")
        h1 Priyanshu Sinha
    //- div(class="flex items-center justify-between flex-1 mt-1 md:mt-0")
    //-     ul(class="flex items-baseline space-x-4 text-sm overflow-x-auto")
    //-         li
    //-             a(href="/projects" class="hover:text-amber-500 hover:dark:text-yellow-500 transition-colors") Projects