nav(class="shrink-0")
    div(class="flex flex-col")
        div(class="md:px-4 md:pb-4 space-y-6 md:max-w-[300px]")
            a(href="/" class="flex gap-3 items-center mb-6")
                img(src="/photo.jpg", alt="Photo of Priyanshu Sinha", class="rounded-full h-10 w-10")
                h1(class="text-xl text-black font-medium") Priyanshu Sinha
            h2(class="text-stone-600 hidden md:block") I'm a senior at DTU, studying electronics and economics. I like to watch movies, follow F1, read books and occasionally write posts.
            div(class="hidden md:block")
                include /social