nav(class="flex flex-col shrink-0 text-white")
    div(class="md:border-x md:border-b border-dashed border-zinc-800 md:px-4 md:pb-4 space-y-8 md:max-w-[270px]")
        a(href="/" class="text-2xl flex gap-3 items-center text-white font-semibold mb-6")
            img(src="/photo.jpg", alt="Photo of Priyanshu Sinha", class="rounded h-12 w-12 md:h-20 md:w-20")
            h1(class="md:max-w-36 flex flex-wrap gap-x-1 text-[#ffe6d9]") Priyanshu
                span(class="md:text-5xl") Sinha
        h2(class="text-lg") Senior @ DTU, studying electronics and economics.
        include /social