nav(class="flex shrink-0 h-fit")
    div(class="flex flex-col")
        div(class="border-dashed border-zinc-800 md:px-4 md:pb-4 space-y-8 md:max-w-[270px]")
            a(href="/" class="text-2xl flex gap-3 items-center text-white font-semibold mb-6")
                img(src="/photo.jpg", alt="Photo of Priyanshu Sinha", class="rounded h-12 w-12 md:h-20 md:w-20")
                h1(class="md:max-w-36 flex flex-wrap gap-x-1 text-[#ffe6d9]") Priyanshu Sinha
            h2(class="text-zinc-300") I'm a senior at DTU, studying electronics and economics. I like to watch movies, follow F1, read books and occasionally write posts.
            include /social
    div(class="w-[1px] bg-gradient-to-b from-zinc-800 hidden md:block")
