nav(class="flex flex-col shrink-0 text-white")
    div(class="border-r border-dashed border-zinc-800 px-4 space-y-8")
        a(href="/" class="text-3xl text-white font-semibold items-center")
            img(src="/photo.jpg", alt="Priyanshu Sinha", class="rounded-full h-20 w-20 mb-6")
            h1 Priyanshu Sinha
        include /social