div(class="space-y-4")
    p(class="font-semibold") Find me on
    div(class="grid grid-cols-5 gap-2 text-stone-400")
        a(href="https://x.com/PriyanshuSinhaX" class="rounded-lg bg-stone-950 border p-2 border-stone-800 hover:bg-black transition-colors text-center duration-300 ease-in-out items-center")
            include /icons/twitter.svg
        a(href="https://www.linkedin.com/in/priyanshusinha7/" class="rounded-lg bg-stone-950 border p-2 border-stone-800 hover:bg-stone-950 transition-colors text-center duration-300 ease-in-out")
            include /icons/linkedin.svg
        a(href="https://letterboxd.com/priyanshusinha/" class="rounded-lg bg-stone-950 border p-2 border-stone-800 hover:bg-stone-950 transition-colors text-center duration-300 ease-in-out")
            include /icons/instagram.svg
        a(href="https://www.goodreads.com/priyanshusinha" class="rounded-lg bg-stone-950 border p-2 border-stone-800 hover:bg-stone-950 transition-colors text-center duration-300 ease-in-out") G