div(class="space-y-4")
    p(class="text-lg font-semibold") Find me on
    div(class="grid grid-cols-2 gap-2 text-rose-300")
        a(href="https://x.com/PriyanshuSinhaX" class="bg-zinc-950 border p-2 border-dashed border-zinc-900 hover:bg-zinc-900 transition-colors text-center") X/Twitter
        a(href="https://www.linkedin.com/in/priyanshusinha7/" class="bg-zinc-950 border p-2 border-dashed border-zinc-900 hover:bg-zinc-900 transition-colors text-center") LinkedIn
        a(href="https://letterboxd.com/priyanshusinha/" class="bg-zinc-950 border p-2 border-dashed border-zinc-900 hover:bg-zinc-900 transition-colors text-center") Letterboxd
        a(href="https://www.goodreads.com/priyanshusinha" class="bg-zinc-950 border p-2 border-dashed border-zinc-900 hover:bg-zinc-900 transition-colors text-center") Goodreads