div(class="space-y-4")
    p(class="font-semibold") Find me on
    div(class="grid grid-cols-5 gap-2 text-blue-500")
        a(href="https://x.com/PriyanshuSinhaX" class="social")
            include /icons/twitter.svg
        a(href="https://www.linkedin.com/in/priyanshusinha7/" class="social")
            include /icons/linkedin.svg
        a(href="https://www.instagram.com/_priyanshusinha/" class="social")
            include /icons/instagram.svg
        a(href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r" class="social")
            include /icons/spotify.svg
        a(href="mailto:priyanshusinha.dtu@gmail.com" class="social")
            include /icons/mail.svg     