div(class="space-y-4")
    p(class="font-semibold text-stone-600") Find me on
    div(class="flex md:flex-col gap-2 text-blue-900 flex-wrap text-lg")
        a(href="https://x.com/PriyanshuSinhaX" aria-label="Priyanshu Sinha on X/Twitter" class="social" target="_blank")
            | X / Twitter
            include /icons/social.svg
        a(href="https://www.linkedin.com/in/priyanshusinha7/" aria-label="Priyanshu Sinha on LinkedIn" class="social" target="_blank")
            | LinkedIn
            include /icons/social.svg
        a(href="https://letterboxd.com/priyanshusinha/" aria-label="Priyanshu Sinha on Spotify" class="social" target="_blank")
            | Letterboxd
            include /icons/social.svg
        a(href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r" aria-label="Priyanshu Sinha on Spotify" class="social" target="_blank")
            | Spotify
            include /icons/social.svg
        a(href="https://drive.google.com/file/d/1BUDhZRYuNUFqeU71aLdT_TYB478ZHAXA/view?usp=sharing" aria-label="Priyanshu Sinha on Spotify" class="social" target="_blank")
            | Resume
            include /icons/social.svg
        a(href="mailto:priyanshusinha.dtu@gmail.com" aria-label="Email Priyanshu Sinha" class="social" target="_blank")
            | Email me
            include /icons/social.svg