div(class="space-y-4")
    p(class="font-semibold text-stone-600") Find me on
    div(class="flex md:flex-col gap-2 text-blue-900 flex-wrap text-lg")
        a(href="https://x.com/PriyanshuSinhaX" class="social" target="_blank")
            | X / Twitter
            include /icons/social.svg
        a(href="https://www.linkedin.com/in/priyanshusinha7/" class="social" target="_blank")
            | LinkedIn
            include /icons/social.svg
        a(href="https://letterboxd.com/priyanshusinha/" class="social" target="_blank")
            | Letterboxd
            include /icons/social.svg
        a(href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r" class="social" target="_blank")
            | Spotify
            include /icons/social.svg
        a(href="https://bsky.app/profile/priyanshusinha.in" class="social" target="_blank")
            | Bluesky
            include /icons/social.svg
        a(href="https://mastodon.social/@priyanshusinha" rel="me" class="social" target="_blank")
            | Mastodon
            include /icons/social.svg
        a(href="mailto:priyanshusinha.dtu@gmail.com" class="social" target="_blank")
            | Email me
            include /icons/social.svg