div(class="space-y-4")
    p(class="font-medium font-serif text-lg") Find me on
    div(class="flex md:flex-col gap-2 text-blue-900 flex-wrap text-lg")
        each social in socials
            a(href=social.link class="social" target="_blank")= social.name
                include /icons/social.svg