---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import NowPlaying from "@components/now-playing.jsx";
import TopTracks from "@components/top-tracks.jsx";
---

<Layout
	title={`Priyanshu Sinha`}
	description={'Spotify'}
>
	<Container>
		<div class="space-y-10">
			<div class="space-y-4">
                <p class="text-gray-500 pt-5 pb-10">
                    Pulled live from{" "}
                    <a href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r" class="link text-[#08993b]">
                      my Spotify account
                    </a>
                    .
                  </p>
                  <NowPlaying />
                  <h2 class="text-2xl font-bold pt-12 pb-5">Most Played</h2>
                  <TopTracks />
                  <div class="pt-10" />
			</div>
		</div>
	</Container>
</Layout>
