---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer>
	<Container>
		<div class="flex items-end justify-between">
			<div class="flex gap-4">
				<div>&copy; {new Date().getFullYear()} / {SITE.TITLE}</div>
				<a
					href={`${Astro.site}rss.xml`}
					class="hidden md:block underline hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
					>RSS</a
				>
				<a
					href={`${Astro.site}sitemap-index.xml`}
					class="hidden md:block underline hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
					>Sitemap</a
				>
			</div>
			<BackToTop />
		</div>
	</Container>
</footer>
