---
import Container from "@components/Container.astro";
import { Image } from "astro:assets";
import profilePicture from "../../public/photo.jpg";
import Link from "@components/Link.astro";
import { cn } from "@lib/utils";
---

<header transition:persist>
	<Container>
		<div class="flex flex-wrap items-center justify-between gap-y-2">
			<a href="/">
				<section>
					<div class="flex">
						<div class="group mr-2 flex items-center sm:mr-3">
							<div
								class="avatar relative inline-flex h-10 w-10 md:h-12 md:w-12 items-center justify-center overflow-hidden rounded-full"
							>
								<Image
									src={profilePicture}
									alt="Priyanshu Sinha"
									title="Sexiest man alive"
									width={250}
									height={250}
									quality="high"
									loading="eager"
									draggable="false"
								/>
							</div>
						</div>
						<div class="grid">
							<h1
								class="text-base md:text-lg font-semibold text-black dark:text-white"
							>
								Priyanshu Sinha
							</h1>
							<span
								class="-mt-2 text-sm md:text-base font-medium text-black/60 dark:text-white/60"
								>Analog Engineer / New Delhi, India</span
							>
						</div>
					</div>
				</section>
			</a>
			<nav class="hidden items-center gap-2 md:flex">
				<Link href="/blog">blog</Link>
				<span>
					{`/`}
				</span>
				<Link href="/about">about</Link>
				<span>
					{`/`}
				</span>
				<a
					href="/rss.xml"
					target="_blank"
					rel="noopener"
					title="RSS Feed"
					aria-label="RSS Feed for Priyanshu Sinha"
					class={cn(
						"hidden md:flex",
						"size-9 rounded-full p-2 items-center justify-center",
						"bg-transparent hover:bg-zinc-200 dark:hover:bg-zinc-700",
						"stroke-current hover:stroke-black hover:dark:stroke-white",
						"border border-zinc-200 dark:border-zinc-700",
						"transition-colors duration-300 ease-in-out",
					)}
				>
					<svg
						viewBox="0 0 24 24"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="1.5"
					>
						<path d="M4 11a9 9 0 019 9"></path>
						<path d="M4 4a16 16 0 0116 16"></path>
						<circle cx="5" cy="19" r="1"></circle>
					</svg>
				</a>
				<button
					id="header-theme-button"
					title="Toggle theme"
					aria-label={`Toggle light and dark theme`}
					class={cn(
						"hidden md:flex",
						"size-9 rounded-full p-2 items-center justify-center",
						"bg-transparent hover:bg-zinc-200 dark:hover:bg-zinc-700",
						"stroke-current hover:stroke-black hover:dark:stroke-white",
						"border border-zinc-200 dark:border-zinc-700",
						"transition-colors duration-300 ease-in-out",
					)}
				>
					<svg
						viewBox="0 0 24 24"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="1.5"
						class="block dark:hidden"
					>
						<circle cx="12" cy="12" r="5"></circle>
						<path d="M12 1v2"></path>
						<path d="M12 21v2"></path>
						<path d="M4.22 4.22l1.42 1.42"></path>
						<path d="M18.36 18.36l1.42 1.42"></path>
						<path d="M1 12h2"></path>
						<path d="M21 12h2"></path>
						<path d="M4.22 19.78l1.42-1.42"></path>
						<path d="M18.36 5.64l1.42-1.42"></path>
					</svg>

					<svg
						viewBox="0 0 24 24"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="1.5"
						class="hidden dark:block"
					>
						<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"
						></path>
					</svg>
				</button>
			</nav>
			<button
				id="header-drawer-button"
				aria-label={`Toggle drawer open and closed`}
				class={cn(
					"flex md:hidden",
					"size-10 rounded-full p-2 items-center justify-center",
					"bg-transparent hover:bg-black/5 dark:hover:bg-white/20",
					"stroke-current hover:stroke-black hover:dark:stroke-white",
					"border border-black/10 dark:border-white/25",
					"transition-colors duration-300 ease-in-out",
				)}
			>
				<svg
					id="drawer-open"
					viewBox="0 0 24 24"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="1.5"
					class="hidden dark:block"
				>
					<path d="M3 12h18"></path>
					<path d="M3 6h18"></path>
					<path d="M3 18h18"></path>
				</svg>
				<svg
					id="drawer-close"
					viewBox="0 0 24 24"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="1.5"
					class="hidden dark:block"
				>
					<path d="M18 6L6 18"></path>
					<path d="M6 6l12 12"></path>
				</svg>
			</button>
		</div>
	</Container>
</header>

<style>
	#header-drawer-button > #drawer-open {
		@apply block;
	}

	#header-drawer-button > #drawer-close {
		@apply hidden;
	}

	#header-drawer-button.open > #drawer-open {
		@apply hidden;
	}

	#header-drawer-button.open > #drawer-close {
		@apply block;
	}
</style>

<script is:inline>
	function toggleDrawer() {
		const drawer = document.getElementById("drawer");
		const drawerButton = document.getElementById("header-drawer-button");
		drawer?.classList.toggle("open");
		drawerButton?.classList.toggle("open");
	}

	function initializeDrawerButton() {
		const drawerButton = document.getElementById("header-drawer-button");
		drawerButton?.classList.remove("open");
		drawerButton?.addEventListener("click", toggleDrawer);
	}

	document.addEventListener("astro:after-swap", initializeDrawerButton);
	initializeDrawerButton();
</script>
