---
import Link from "@components/Link.astro";
import HeadLink from "./HeadLink.astro";
---

<section class="grid grid-cols-1 gap-4 md:grid-cols-3">
	<a
		href="/blog"
		class="quick-card bg-sky-100 border-sky-200 dark:border-sky-900 dark:bg-sky-950"
	>
		<div class="flex items-center space-x-1 text-sky-700 dark:text-sky-300">
			<p class="mb-1">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M6 6.878V6a2.25 2.25 0 0 1 2.25-2.25h7.5A2.25 2.25 0 0 1 18 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 0 0 4.5 9v.878m13.5-3A2.25 2.25 0 0 1 19.5 9v.878m0 0a2.246 2.246 0 0 0-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0 1 21 12v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6c0-.98.626-1.813 1.5-2.122"
					></path>
				</svg>
			</p>
			<p class="font-semibold mb-1">See my posts</p>
		</div>
		<p class="quick-card-text">
			My writings on topics that I learn and feel are worth sharing.
		</p>
	</a>
	<a
		href="/about"
		class="quick-card bg-lime-100 border-lime-200 dark:border-lime-900 dark:bg-lime-950"
	>
		<div
			class="flex space-x-1 items-center text-lime-700 dark:text-lime-300"
		>
			<p class="mb-1">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
					></path>
				</svg>
			</p>
			<p class="font-semibold mb-1">Find about me</p>
		</div>
		<p class="quick-card-text">
			What, where and when of all the things I have done so far.
		</p>
	</a>
	<div
		class="quick-card bg-amber-100 border-amber-200 dark:border-amber-900 dark:bg-amber-950"
	>
		<div
			class="flex space-x-1 items-center text-amber-700 dark:text-amber-300"
		>
			<p class="mb-1">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
					></path>
				</svg>
			</p>
			<p class="font-semibold mb-1">On the Web</p>
		</div>
		<div class="quick-card-text">
			<p>
				Find me on
				<Link external href="https://twitter.com/PriyanshuSinhaX"
					>X/Twitter</Link
				>
				,
				<Link
					external
					href="https://scholar.google.com/citations?user=NjDqj8MAAAAJ&hl=en"
					>Google Scholar</Link
				>
				, and
				<Link
					external
					href="https://www.linkedin.com/in/priyanshusinha7/"
					>LinkedIn</Link
				>
				.
			</p>
		</div>
	</div>
	<p class="text-sm flex gap-1 md:text-base md:col-span-3">
		Discover me on
		<HeadLink
			external
			href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r"
		>
			Spotify</HeadLink
		>
	</p>
</section>
