---
import Link from "@components/Link.astro";
---

<section class="grid grid-cols-1 gap-4 md:grid-cols-3">
  <a
    href="/blog"
    class="rounded-xl bg-[#f2f5fa] p-4 transition-shadow duration-200 hover:shadow-lg dark:bg-sky-900/50 dark:shadow-black"
  >
    <div class="flex space-x-1 text-[#1e5097] dark:text-sky-300">
      <p class="mb-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
          ></path>
        </svg>
      </p>
      <p class="mb-1 font-semibold md:mb-3">Blogs</p>
    </div>
    <p class="text-sm font-normal text-gray-600 dark:text-gray-100">
      My projects, including products and open-source code.
    </p>
  </a>
  <a
    href="/about"
    class="rounded-xl bg-[#f2f7f1] p-4 transition-shadow duration-200 hover:shadow-lg dark:bg-lime-900/50 dark:shadow-black"
  >
    <div class="flex space-x-1 text-[#116719] dark:text-lime-300">
      <p class="mb-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
          ></path>
        </svg>
      </p>
      <p class="mb-1 font-semibold md:mb-3">Recently</p>
    </div>
    <p class="text-sm font-normal text-gray-600 dark:text-zinc-200">
      The things I’ve been up to, from projects to clubs to classes.
    </p>
  </a>
  <div
    class="rounded-xl bg-amber-50 p-4 transition-shadow duration-200 hover:shadow-lg dark:bg-amber-900/50 dark:shadow-black"
  >
    <div class="flex space-x-1 text-amber-700 dark:text-amber-300">
      <p class="mb-1 font-medium">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
          ></path>
        </svg>
      </p>
      <p class="mb-1 font-semibold md:mb-3">On the Web</p>
    </div>
    <div class="text-sm text-gray-600 dark:text-gray-100">
      <p>
        Find me on
        <Link external href="https://twitter.com/PriyanshuSinhaX">Twitter</Link>
        ,
        <Link external href="https://read.cv/priyanshusinha">read.cv</Link>
        , and
        <Link external href="https://github.com/prynshsnh">GitHub</Link>
      </p>
    </div>
  </div>
  <p class="text-sm md:col-span-3">
    See what I’m
    <Link external href="https://open.spotify.com/user/4851xnqv7ijz5xj923m8ubp8r">
      listening to
    </Link>
    &rarr;
  </p>
</section>
