---
import { UPDATES } from "@consts";
---

<div class="grid grid-cols-4 gap-x-2 gap-y-4">
	{
		UPDATES.map((UPDATE) => (
			<div class="font-medium text-black/55 dark:text-white/55">
				{UPDATE.ACTION}
			</div>
			<div class="col-span-3">{UPDATE.TEXT}</div>
		))
	}
</div>
