---
layout: layouts/page
---

p(class="text-black/60 font-medium")
    = filters.readableDate(date)
article(class="animate-fade-in")
    h1(class="text-4xl mt-8 font-semibold whitespace-pre-line")= title
    h2(class="text-lg mt-2 font-medium text-stone-600")= subtitle
    div(class="mt-12 markdown")
        | !{content}
include /footer