---
layout: layouts/page
---

p(class="mt-4 text-zinc-400")
    = filters.readableDate(date)
article(class="animate-fade-in")
    h1(class="text-4xl mt-12 font-semibold whitespace-pre-line")= title
    h2(class="text-lg mt-2 text-zinc-300")= subtitle
    div(class="mt-12 markdown")
        | !{content}