@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        -webkit-tap-highlight-color: transparent;
    }

	html,
    body {
        scrollbar-gutter: stable;
        scrollbar-color: #bababa transparent;
    }

    html.is-changing .transition-fade {
        transition: opacity 0.25s;
        opacity: 1;
    }

    html.is-animating .transition-fade {
        opacity: 0;
    }
}

@layer components {
    .markdown {
        @apply prose prose-stone text-stone-800 leading-relaxed prose-video:rounded-md prose-img:rounded-lg prose-blockquote:not-italic 
            prose-a:decoration-2 prose-a:underline-offset-2 prose-a:decoration-stone-300 prose-a:text-blue-900
            hover:prose-a:text-blue-600 prose-a:transition-colors
            prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg
            prose-code:font-normal prose-code:before:content-none prose-code:after:content-none
            prose-pre:border prose-pre:rounded-none prose-pre:shadow-sm prose-hr:border-stone-200
            prose-headings:text-stone-800 prose-tr:border-stone-200 prose-thead:border-stone-200
    }

    .markdown summary {
        @apply cursor-pointer font-semibold;
    }

    .markdown summary::marker {
        @apply text-stone-300;
    }

    .markdown details[open] {
        @apply border-b pb-2
    }

	.social {
		@apply rounded-lg border p-2 border-stone-200 hover:bg-stone-200 transition-colors duration-300 ease-in-out mx-auto
	}
}

@layer base {
	@font-face {
		font-family: "Tiempos";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/tiempos/test-tiempos-text-regular.woff2) format("woff2");
	}

    @font-face {
		font-family: "Tiempos";
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/tiempos/test-tiempos-text-regular-italic.woff2) format("woff2");
	}

	@font-face {
		font-family: "Tiempos";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/tiempos/test-tiempos-text-medium.woff2) format("woff2");
	}

	@font-face {
		font-family: "Tiempos";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/tiempos/test-tiempos-text-semibold.woff2) format("woff2");
	}

	@font-face {
		font-family: "Tiempos";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/tiempos/test-tiempos-text-bold.woff2) format("woff2");
	}
}